.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  text-align: center;
  padding: 2rem;
  
}


.input-field, .submit-button {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.submit-button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.navigation button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000; 
  color: black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999; 
}
